* {
  box-sizing: border-box;
}
.SearchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 421px;
  border: 1px solid rgba(124, 146, 205, 0.7);
  border-radius: 50px;
  box-sizing: border-box;
}

.container input {
  width: 100%;
  border: none;
  border-radius: 50px;
  padding: 10px;
  font-size: 18px;
}


img {
  padding: 5px;
  margin: 8px;
  background-color: #333;
  border-radius: 50px;
}

input:focus {
  outline: none;
}

.isFocused {
  background-color: #4A36EB;
}