.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#e0e0e0
}

.container {
  width: 1024px;
  max-width: 1024px;
  background-color: white;
  padding: 50px 45px; 
}
