* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-back a img {
  margin-right: 5px;
}

.header-back a {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  color: black;
}

span.arrow {
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
  margin-right: 5px;
}

span.taitle {
  font-size: 1.5rem;
  font-weight: 500;
}

.sign-up {
  padding: 0.5rem 1.5rem;
  border: 1px solid #555555;
}

.sign-up a {
  font-weight: 500;
  color: #555555;
  line-height: 30px;
  font-size: 1.5rem;
}
