:root {
  --mainColor: #000000;
  font-family: Roboto;
}

.LoginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formLogin {
  width: 350px;
}

.form-user,
.form-password {
  display: flex;
  flex-direction: column;
  border: 1px solid #eeeeee;
  padding: 7px 10px;
  border-radius: 5px;
  margin: 20px 0px;
}

.form-user label,
.form-password label {
  font-weight: 500;
  color: #555555;
line-height: 28px;
}

.form-user input:focus,
.form-password input:focus {
  outline: none;
}

input {
  border: none;
  margin-top: 5px;
  color: rgba(85, 85, 85, 0.6);
}

/* input[type="password"] {
  font-family: *;
} */

button {
  background-color: #00BD56;
  padding: 18px;
  width: 100%;
  color: #ffff;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
}

.keep-signed {
  display: flex;
  justify-content: center;
  margin: 35px;
}

.keep-signed span {
  color: #888888;
  margin-left: 10px;
}

.Options {
  text-align: center;
}

.Options a {
   background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 1px 1px;
  padding-bottom: 1.3px;
  color: black;
  font-weight: 600;
  margin: 0px 10px;
}
