.TabMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Menu {
  display: flex;
  max-width: 1135px;
  padding: 30px;
}

.Home,
.Deals,
.Upload,
.Work,
.Setting {
  width: 227px;
  height: 134.01px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(221, 221, 221, 0.7);
}

.Home img,
.Deals img,
.Upload img,
.Work img,
.Setting img {
  margin-bottom: 5px;
}


.Deals span,
.Upload span,
.Work span,
.Setting span {
  font-size: 18px;
  line-height: 21px;
  color: #8E8E8E;
}

.active {
  border-top: 2px solid #8CDC52;
  border-bottom: 2px solid #8CDC52;
  color: #8CDC52;
  font-size: 18px;
  line-height: 21px;
}
